.this-week-container {
    width: 1280px;
    margin: 0 auto; margin-top: 50px;
}
.this-week-container h1 {
    text-align: center;
}

.this-week-container ul {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.this-week-container ul li {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.this-week-container ul li a {
    height: 250px;
    width: 167px;
}
.this-week-container ul li a img {
    height: 100%;
    width: 167px;
}