.profile-container {
    width: 75%;
    margin: 0 auto;
}
.profile-img-info {
    display: flex;
    padding: 10px;
}
.profile-img {
    height: 100px;
    border-radius: 50%;
    background: red;
}
.profile-info {
    flex: 1;
}
.favourite-watchlist-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.favourite-container, .watchlist-container {
    width: 48%;
}
.fav-watchlist-title {
    position: relative;
}
.fav-watchlist-title:after, .favourite-view-all:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #000, transparent);
}
.fav-watchlist-option-container {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}
.view-all-option {
    position: relative;
}
.view-all-option:after {
    top: 0;
}
.fav-watchlist-option {
    height: 100px;
    width: 100px;
    background: pink;
    overflow: hidden;
}
.fav-watchlist-thumbnail {
    width: 100%;
}