.profile-container {
    width: 1280px;
    margin: 0 auto;
}

/* Profile header */

.profile-header {
    position: relative;
    margin: 25px 0;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profile-header-background {
    position: absolute;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background: var(--primary-color);
}
.profile-header img {
    width: 100%;
    bottom: 0;
}
.profile-header-content {
    position: absolute;
    bottom: 0; left: 0;
    height: 150px; width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 1;
}
.profile-header-content img {
    height: 150px; width: 150px;
    border-radius: 50%;
}
.profile-header-content div {
    display: flex;
    align-items: flex-end;
}
.profile-header-content div span {
    margin-left: 25px;
    font-size: 32px;
    font-weight: bold;
}
.profile-header-content button {
    margin-left: auto;
}
.profile-header-form {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.profile-header-form-buttons {
    display: flex;
    justify-content: flex-end;
}
.profile-header-form-buttons button {
    margin-right: 25px;
}

/* Liked and Watchlist section */

.liked-watchlist-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: var(--primary-color);
    border-radius: 5px;
}
.liked-watchlist-container div {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 49%;
}
.liked-watchlist-container div ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.liked-watchlist-container div ul li {
    max-height: 150px; max-width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.liked-watchlist-container div ul li a {
    max-width: 125px; max-height: 125px;
}
.liked-watchlist-container div ul li a img {
    max-width: 125px;
}