
.discover-anime-container {
    background: var(--primary-color);
    height: 400px;
}
.discover-anime-container ul {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.discover-anime-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.discover-anime-container ul li p {
    text-align: justify;
    padding: 12.5px 0;
}
#discover-img {
    height: 100%;
    cursor: pointer;
}