
.discover-anime-container {
    background: var(--primary-color);
    height: 400px;
}
.discover-anime-container ul {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.discover-anime-container ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.discover-anime-container ul li:nth-child(2) {
    position: relative;
}
.discover-anime-container ul li:nth-child(2) img  {
    position: absolute;
}
.discover-anime-container ul li p {
    text-align: justify;
    padding: 12.5px 0;
}
#discover-img {
    height: 100%;
    cursor: pointer;
}

/* < 768px */
@media only screen and (max-width: 768px) {
    .discover-anime-container {
        height: auto;
    }
    .discover-anime-container ul {
        flex-direction: column;
    }
    .discover-anime-container ul li {
        padding: 25px 25px;
        box-sizing: border-box;
    }
    .discover-anime-container ul li:nth-child(2) {
        transition: height 2s linear;
    }
    .discover-anime-container ul li:nth-child(2) img  {
        position: relative;
    }
    #discover-img {
        height: 300px;
    }
}
