.anime-container {
    min-width: 1280px;
    margin: 50px auto;
}

.anime-profile {
    height: 250px;
    display: flex;
}
.anime-profile-thumb {
    position: relative;
}
.anime-thumbnail {
    height: 200px;
}
.anime-thumbnail-like {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    bottom: 0; left: 0;
    height: 50px;
    width: 100%;
    background: red;
    cursor: pointer;
}
.anime-profile-content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.anime-profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.anime-profile-header h2 {
    font-size: 32px;
}
.anime-profile-header small {
    margin-left: 20px;
}
.anime-profile-description-container {
    width: 50%;
}

.anime-where-to-watch-container, .anime-gallery-container {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 25px 0;
    padding: 5px;
    box-sizing: border-box;
}

.anime-gallery-container div {
    display: flex;
    align-items: center;
}
.anime-gallery-container img {
    height: 150px;
    margin: 0 12.5px;
}