.anime-description-page-container {
    width: 1280px; max-width: 1280px;
    margin: 25px auto 25px auto;
}
/* .anime-description-page-container h2 {} */
/* .anime-description-page-container ul {} */
.anime-description-page-container ul li {
    display: flex;
    background: lightgrey;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.anime-description-page-container ul li:first-child {
    margin-top: 25px;
}
.anime-description-page-container ul li img {
    height: 75px;
    border-radius: 50%;
}
.anime-description-page-container ul li > div {
    position: relative;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.anime-description-page-container ul li > div > span:first-child {
    font-weight: bold;
}
.anime-description-page-container ul li > div > span:last-child {
    position: absolute;
    top: 0;
    right: 0;
}