.anime-container {
    min-width: 1280px;
    margin: 50px auto;
}

.anime-profile {
    height: 250px;
    display: flex;
}
.anime-profile-thumb {
    position: relative;
}
.anime-thumbnail {
    height: 200px;
}
.anime-profile h2 {
    width: 100%;
    padding: 10px;
}