.anime-comments-list li {
    display: flex;
    margin: 25px 0;
}
.anime-comments-list li div p {
    font-weight: bold;
}
.anime-comments-list li img {
    height: 75px;
    border-radius: 50%;
}
.anime-comments-content {
    margin: 5px 10px;
}

/* Add comment form */
.anime-comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.anime-comment-form label textarea {
    display: block;
    margin: 5px 0;
    resize: none;
    width: 480px;
    font-size: 18px;
}
.anime-comment-form label textarea:focus {
    outline: none;
}

.anime-comment-remove-btn {
    background: red;
    width: 200px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* < 768px */
@media only screen and (max-width: 768px) {
    .anime-comments-list {
        margin: 0 25px;
    }
    .anime-comments-list li {
        flex-wrap: wrap;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 2px;
        box-sizing: border-box;
    }
    .anime-comment-remove-btn {
        width: 100%;
        background: none;
    }

    /* Add comment form */
    .anime-comment-form {
        margin: 25px 0;
    }
    .anime-comment-form label {
        width: 100%;
    }
    .anime-comment-form label textarea {
        width: 100%;
    }
}