/* .anime-container {
    min-width: 1280px;
    max-width: 1280px;
    margin: 50px auto;
}

.anime-profile {
    height: 500px;
    display: flex;
}
.anime-profile-thumb {
    position: relative;
}
.anime-thumbnail {
    height: 450px;
}
.anime-thumbnail-like {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    bottom: 0; left: 0;
    height: 50px;
    width: 100%;
    background: red;
    cursor: pointer;
}
.anime-profile-content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.anime-profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.anime-profile-header h2 {
    font-size: 32px;
}
.anime-profile-header small {
    margin-left: 20px;
}

.anime-where-to-watch-container, .anime-gallery-container {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 25px 0;
    padding: 5px;
    box-sizing: border-box;
}

.anime-gallery-container div {
    display: flex;
    align-items: center;
}
.anime-gallery-container img {
    height: 150px;
    margin: 0 12.5px;
}

/* Anime Description */

/* .anime-description {
    background: rgba(128, 128, 128, 0.4);
    padding: 5px;
}
.anime-description span {
    display: block;
    text-align: right;
} */

.anime-page-container {
    width: 1280px; max-width: 1280px;
    margin: 25px auto 0 auto;
}

/* Header Section */
.anime-page-header {
    display: flex;
}
.anime-page-header img {
    height: 450px;
}
.anime-page-header > div {
    margin: 25px;
    flex: 1;
}

.anime-page-header-interact {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.anime-page-header-interact span {
    width: 50%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* Where To Watch Section */
.anime-page-wtw, .anime-page-gallery {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    margin: 25px 0;
    padding: 5px;
    box-sizing: border-box;
}

/* Gallery Section */

.anime-page-gallery div {
    display: flex;
    align-items: center;
}
.anime-page-gallery img {
    height: 150px;
    margin: 0 12.5px;
}

/* < 768px */
@media only screen and (max-width: 768px) {
    .anime-page-container {
        width: 100%;
        margin: 25px auto 0 auto;
    }

    /* Header Section */
    .anime-page-header {
        margin: 0 25px;
    }
    .anime-page-header img {
        width: 100px;
        height: auto;
    }
    .anime-page-header > div {
        margin: 10px;
    }

    /* Where To Watch Section */
    .anime-page-wtw, .anime-page-gallery {
        margin: 25px;
        width: auto;
        height: auto;
    }
    
    /* Gallery Section */
    .anime-page-gallery img {
        width: 100px;
    }
}