
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgb(224, 72, 72);
}
.navbar.dark {
    background: rgb(35, 35, 35);
}
.logo.dark {
    color: rgb(240, 240, 240);
}
.brand {
    font-size: 32px;
    line-height: 36px;
}

.login-signup {
    display: flex;
}

.login-signup-item {
    margin-left: 20px;
    text-decoration: none;
}

.login-signup-link {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid black;
    transition: background 0.2s ease-in-out;
}
.login-signup-link.dark {
    color: rgb(240, 240, 240);
}
.login-signup-link:hover {
    background: rgb(228, 109, 109);
}
.navbar-name-thumbnail {
    display: flex;
    align-items: center;
}
.navbar-name-thumbnail img {
    margin-left: 15px;
}

/* sub-navbar */

.sub-navbar {
    background: rgb(224, 72, 72);
    position: relative;
    padding: 5px 50px;
}
.sub-navbar:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient(to right, transparent, black, transparent);
}
.sub-navbar ul {
    display: flex;
    justify-content: space-between;
}
.sub-navbar ul li {
    display: flex;
}
.sub-navbar ul li li {
    margin-right: 25px;
}
.sub-navbar ul li li:last-child {
    margin-right: 0px
}
.nav-profile-thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}