nav {
    position: relative;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgb(224, 72, 72);
}
.navbar.dark {
    background: rgb(35, 35, 35);
}
.logo.dark {
    color: rgb(240, 240, 240);
}
.brand {
    font-size: 32px;
    line-height: 36px;
}

.login-signup {
    display: flex;
}
.login-signup-item {
    margin-left: 20px;
    text-decoration: none;
}
.login-signup-link {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid black;
    transition: background 0.2s ease-in-out;
}
.login-signup-link.dark {
    color: rgb(240, 240, 240);
}
.login-signup-link:hover {
    background: rgb(228, 109, 109);
}
.navbar-name-thumbnail {
    display: flex;
    align-items: center;
}
.navbar-name-thumbnail img {
    margin-left: 15px;
}

/* sub-navbar */

.sub-navbar {
    background: rgb(224, 72, 72);
    position: relative;
    padding: 5px 50px;
}
/* .sub-navbar:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0; left: 0;
    background: linear-gradient(to right, transparent, black, transparent);
} */
.sub-navbar ul {
    display: flex;
    justify-content: space-between;
}
.sub-navbar ul li {
    display: flex;
}
.sub-navbar ul li li {
    margin-right: 25px;
}
.sub-navbar ul li li:last-child {
    margin-right: 0px
}
.nav-profile-thumbnail {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* burger icon */
.hamburger {
    background: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.hamburger:focus {
    outline: none;
}

/* < 768px */
@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .brand {
        font-size: 20px;
        line-height: 24px;
    }
    .navbar {
        padding: 10px 10px;
        position: relative;
    }
    .login-signup {
        display: none;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;
    }
    .login-signup li {
        margin: 0;
    }
    .login-signup li a {
        padding: 0;
        font-size: 20px;
    }
    .login-signup-link {
        text-decoration: none;
        padding: none;
        border: none;
        transition: none;
    }
    .login-signup.show {
        display: flex;
    }
    .loggedin-nav {
        display: none;
        width: 100%;
    }
    .navbar-name-thumbnail {
        justify-content: flex-end;
    }
    .loggedin-nav.show {
        display: block;
    }
    .sub-navbar {
        display: none;
        padding: 5px 10px;
    }
    .sub-navbar ul {
        flex-direction: column;
    }
    .sub-navbar.show {
        display: block;
    }
}


/* Navbar hamburger ALL CSS */
.hamburger {
    position: relative;
    height: 15px;
    width: 20px;
}
.hamburger span:first-child {
    position: absolute;
    top: 0;
    display: block;
    height: 2px; width: 100%;
    background: #333;
    transition: 0.25s all linear;
}
.hamburger span:nth-child(2) {
    position: absolute;
    bottom: 0px;
    display: block;
    height: 2px; width: 100%;
    background: #333;
    transition: 0.25s all linear;
}
.hamburger span:nth-child(3) {
    position: absolute;
    top: 6.5px;
    display: block;
    height: 2px; width: 100%;
    background: #333;
    transition: 0.25s all linear;
}
.hamburger.active span:first-child {
    top: 7px; right: 1px;
    transform: rotate(-45deg);
    background: #666;
}
.hamburger.active span:nth-child(2) {
    display: none;
}
.hamburger.active span:nth-child(3) {
    top: 7px; right: 1px;
    transform: rotate(45deg);
    background: #666;
}