.theme-container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgb(224, 72, 72);
    z-index: 2;
    padding: 10px 5px 10px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.theme-container.dark {
    background: rgb(35, 35, 35);
}

.modebtn {
    cursor: pointer;
}