@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap');

/* base styles */

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  margin: 0;
  background: #dfdfdf;
  color: #333;
  box-sizing: border-box;
}
h1,h2,h3,p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.separator {
  width: 60%;
  margin: 40px auto;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #000, transparent);
}

.selected-nav {
  color: white;
}

.nav-btn {
  cursor: pointer;
}