@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap');

:root {
    --primary-color: rgb(224, 72, 72);
    --secondary-color: rgb(196, 59, 59);
    --primary-font: #333;
    --secondary-font: #666;
}

/* base styles */

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  margin: 0;
  background: #dfdfdf;
  color: #333;
  box-sizing: border-box;
}
h1,h2,h3,p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* re-usable */

.btn {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  background: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  color: var(--secondary-font);
  background: #dfdfdf;
}

.s-title {
  font-size: 24px;
  font-weight: bold;
}
.l-title {
  font-size: 32px;
  font-weight: bold;
}

.separator {
  max-width: 1280px;
  margin: 40px auto;
  padding-top: 1px;
  background: linear-gradient(to right, transparent, #000, transparent);
}

/* specific */

.selected-nav {
  color: white;
}

.nav-btn {
  cursor: pointer;
}